* {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto';
}

.jobs-container {
  height: 100vh;
}
.jobs-content-container {
  background-color: black;
  height: 89vh;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
}
.left-container {
  width: 300px;
  flex-shrink: 0;
  margin-right: 40px;
}
.right-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.retry-button {
  background-color: #4f46e5;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: bold;
}

.profile-details-container {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  background-color: transparent;
  border: 1px solid #475569;
  width: 350px;
  height: 40px;
  border-radius: 5px;
  outline: none;
}
.jobs-display-container {
  flex-grow: 1;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.failure-image {
  border: none;
  margin-bottom: 40px;
}
.failure-view-heading {
  margin-bottom: 20px;
}
.failure-view-description {
  color: #475569;
  font-size: 15px;
  margin-bottom: 10px;
}
