* {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto';
}

.home-container {
  height: 100vh;
}
.content-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  height: 89vh;
  padding-left: 70px;
  padding-top: 100px;
}
.home-heading {
  font-size: 60px;
  width: 40%;
  margin-bottom: 40px;
}
.home-description {
  width: 40%;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 40px;
}
.home-button {
  background-color: #4f46e5;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: bold;
}
.link-item {
  text-decoration: none;
}
